<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.AppShell)" />
        @* <FocusOnNavigate RouteData="@routeData" Selector="main" /> *@
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.AppShell)">
            <p class="text-light p3">Sorry, page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
